version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: booking-postgres
    environment:
      POSTGRES_DB: booking_system
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - booking-network

  redis:
    image: redis:7-alpine
    container_name: booking-redis
    ports:
      - "6379:6379"
    networks:
      - booking-network

  # Mikrostoritve bodo dodan kasneje
  # payment-service:
  #   build: ./services/payment-service
  #   container_name: payment-service
  #   ports:
  #     - "8083:8083"
  #   environment:
  #     SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/booking_system
  #     STRIPE_API_KEY: ${STRIPE_API_KEY}
  #   depends_on:
  #     - postgres
  #   networks:
  #     - booking-network

volumes:
  postgres_data:

networks:
  booking-network:
    driver: bridge
